
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */